In [1]:
import pandas as pd

def load_excel_data(file_path: str):
    # Load the Excel file, skipping the first three rows
    df = pd.read_excel(file_path, skiprows=3)
    return df

In [2]:
file_names = {
    "file_names": [
        "e8cd26b84f8040458156a4d3098ef801_5_Invoice_List.xlsx",
        "a1d86c7c072944108ce3344e138f4fcf_3_Bank1_Statement2.xls"
    ]
}

In [11]:
print(file_names["file_names"][1])

a1d86c7c072944108ce3344e138f4fcf_3_Bank1_Statement2.xls

In [13]:
file_name = file_names["file_names"][1]
data = load_excel_data(file_path=f"excels/{file_name}")
print(data)

  Date opération                                            Libelle  \
0     29/02/2024  VIR TRANSVERSAL FILMS          \nVERSION ORIGI...
1     29/02/2024  VIR DDFIP SEINE-SAINT-DENIS    \nSCOR         ...
2     29/02/2024  VIR SGC ANTIBES                \nFAC. 22012633...
3     29/02/2024  VIR SGC DAX AGGLOMERATION      \nFACTURE  2108...
4     29/02/2024  VIR SGC BOULOGNE BILLANCOURT M \nFILM THE CARD...
5     29/02/2024  VIR SGC BOULOGNE BILLANCOURT M \nFILM LA VIE R...
6     29/02/2024  VIR SGC AVESNES                \nN FACT:210622...
7     29/02/2024  VIR SGC AVESNES                \nN FACT:210723...
8     29/02/2024  VIR SGC BAIE DE SOMME          \nFAC. 21082417...
9     29/02/2024  VIR SGC BAIE DE SOMME          \nFAC. 21082417...

  Nature de l'opération Date de valeur  Montant de l'opération
0       Virements reçus     29/02/2024                  434.18
1       Virements reçus     29/02/2024                   54.24
2       Virements reçus     29/02/2024                  135.52
3       Virements reçus     29/02/2024                    8.57
4       Virements reçus     29/02/2024                    2.71
5       Virements reçus     29/02/2024                   19.38
6       Virements reçus     29/02/2024                   20.19
7       Virements reçus     29/02/2024                   58.28
8       Virements reçus     29/02/2024                   17.13
9       Virements reçus     29/02/2024                   54.48

In [28]:
data.head()

,Date opération,Libelle,Nature de l'opération,Date de valeur,Montant de l'opération
0,29/02/2024,VIR TRANSVERSAL FILMS \nVERSION ORIGI...,Virements reçus,29/02/2024,434.18
1,29/02/2024,VIR DDFIP SEINE-SAINT-DENIS \nSCOR ...,Virements reçus,29/02/2024,54.24
2,29/02/2024,VIR SGC ANTIBES \nFAC. 22012633...,Virements reçus,29/02/2024,135.52
3,29/02/2024,VIR SGC DAX AGGLOMERATION \nFACTURE 2108...,Virements reçus,29/02/2024,8.57
4,29/02/2024,VIR SGC BOULOGNE BILLANCOURT M \nFILM THE CARD...,Virements reçus,29/02/2024,2.71

In [30]:
# Filter the DataFrame
df_filtered = data.loc[data["Nature de l'opération"] == 'Virements reçus']
print(df_filtered)

  Date opération                                            Libelle  \
0     29/02/2024  VIR TRANSVERSAL FILMS          \nVERSION ORIGI...
1     29/02/2024  VIR DDFIP SEINE-SAINT-DENIS    \nSCOR         ...
2     29/02/2024  VIR SGC ANTIBES                \nFAC. 22012633...
3     29/02/2024  VIR SGC DAX AGGLOMERATION      \nFACTURE  2108...
4     29/02/2024  VIR SGC BOULOGNE BILLANCOURT M \nFILM THE CARD...
5     29/02/2024  VIR SGC BOULOGNE BILLANCOURT M \nFILM LA VIE R...
6     29/02/2024  VIR SGC AVESNES                \nN FACT:210622...
7     29/02/2024  VIR SGC AVESNES                \nN FACT:210723...
8     29/02/2024  VIR SGC BAIE DE SOMME          \nFAC. 21082417...
9     29/02/2024  VIR SGC BAIE DE SOMME          \nFAC. 21082417...

  Nature de l'opération Date de valeur  Montant de l'opération
0       Virements reçus     29/02/2024                  434.18
1       Virements reçus     29/02/2024                   54.24
2       Virements reçus     29/02/2024                  135.52
3       Virements reçus     29/02/2024                    8.57
4       Virements reçus     29/02/2024                    2.71
5       Virements reçus     29/02/2024                   19.38
6       Virements reçus     29/02/2024                   20.19
7       Virements reçus     29/02/2024                   58.28
8       Virements reçus     29/02/2024                   17.13
9       Virements reçus     29/02/2024                   54.48

In [31]:
df_filtered['Bank'] = 'Banque Principale'
df_filtered.head()

,Date opération,Libelle,Nature de l'opération,Date de valeur,Montant de l'opération,Bank
0,29/02/2024,VIR TRANSVERSAL FILMS \nVERSION ORIGI...,Virements reçus,29/02/2024,434.18,Banque Principale
1,29/02/2024,VIR DDFIP SEINE-SAINT-DENIS \nSCOR ...,Virements reçus,29/02/2024,54.24,Banque Principale
2,29/02/2024,VIR SGC ANTIBES \nFAC. 22012633...,Virements reçus,29/02/2024,135.52,Banque Principale
3,29/02/2024,VIR SGC DAX AGGLOMERATION \nFACTURE 2108...,Virements reçus,29/02/2024,8.57,Banque Principale
4,29/02/2024,VIR SGC BOULOGNE BILLANCOURT M \nFILM THE CARD...,Virements reçus,29/02/2024,2.71,Banque Principale

In [38]:
df_filtered['Date opération'] = pd.to_datetime(df_filtered['Date opération'])
df_filtered.sort_values(by='Date opération', inplace=True)
df_filtered['TransactionNumber'] = df_filtered.groupby('Date opération').cumcount() + 1
df_filtered['TransactionNumber'] = 'C' + df_filtered['Date opération'].dt.strftime('%y%m%d') + df_filtered['TransactionNumber'].apply(lambda x: f'{x:03}')

df_filtered.head()

,Date opération,Libelle,Nature de l'opération,Date de valeur,Montant de l'opération,Bank,TransactionNumber
0,2024-02-29,VIR TRANSVERSAL FILMS \nVERSION ORIGI...,Virements reçus,29/02/2024,434.18,Banque Principale,C240229001
1,2024-02-29,VIR DDFIP SEINE-SAINT-DENIS \nSCOR ...,Virements reçus,29/02/2024,54.24,Banque Principale,C240229002
2,2024-02-29,VIR SGC ANTIBES \nFAC. 22012633...,Virements reçus,29/02/2024,135.52,Banque Principale,C240229003
3,2024-02-29,VIR SGC DAX AGGLOMERATION \nFACTURE 2108...,Virements reçus,29/02/2024,8.57,Banque Principale,C240229004
4,2024-02-29,VIR SGC BOULOGNE BILLANCOURT M \nFILM THE CARD...,Virements reçus,29/02/2024,2.71,Banque Principale,C240229005

In [18]:
for index, row in data.iterrows():
    print(row["Nature de l'opération"])

Virements reçus
Virements reçus
Virements reçus
Virements reçus
Virements reçus
Virements reçus
Virements reçus
Virements reçus
Virements reçus
Virements reçus